header {
  padding: 20px 0;
}
.navigation {
  display: none;
}
.navigation-btn__icon {
  width: 30px;
  height: 30px;
}
.logo-img img {
  width: 150px;
}
.logo-title {
  font: 25px/30px $font-family--logo;
  letter-spacing: 2px;
  text-transform: uppercase;
}