
header {
  padding: 20px 0 0;
  @include clearfix;
  .logo {
    @include make-lg-column(3);
    &-img {
      float: left;
      display: block;
      img {
        max-width: 140px;
        margin-top: 5px;
      }
    }
    &-title {
      float: left;
      margin-top: 20px;
      font: 25px/30px $font-family--logo;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    &-description {
      float: left;
      max-width: 46%;
      font-size: 13px;
      line-height: 17px;
      margin-top: 10px;

    }
  }
}
.navigation {
  @include make-lg-column(6);
  margin-top: 45px;
  li {
    display: inline-block;
    vertical-align: middle;
    &:first-child a {
      margin: 0 9px 0 0;
    }
    &:last-child a {
      margin: 0 0 0 9px;
    }
    a {
      margin: 0 9px;
      border-bottom: 2px solid transparent;
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
      color: #000000;
      &:hover {
        border-bottom: 2px solid #96be0f;
        transition: all 0.3s linear;
      }
    }
  }
}
.phone {
  @include make-lg-column(3);
  margin-top: 20px;
  text-align: right;
  a {
    display: block;
    font-family: $font-family--light;
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    line-height: 30px;
    &:hover {
      color: #96be0f;
      transition: color 0.3s linear;
    }
  }
  &-callback {
    cursor: pointer;
    span {
      vertical-align: middle;
      &:last-child {
        color: #96be0f;
        &:hover {
          color: #78980b;
          transition: color 0.3s linear;
        }
      }
    }
  }
}