header {
  padding: 20px 0;
  .logo {
    @include make-lg-column(4);
    &-img {
      float: left;
      margin-right: 20px;
    }
    &-title {
      margin-top: 20px;
    }
  }
}
.navigation {
  display: none;
}
.navigation-btn__icon {
  width: 30px;
  height: 30px;
}
.logo-img img {
  width: 150px;
}
.logo-title {
  font: 25px/30px $font-family--logo;
  letter-spacing: 2px;
  text-transform: uppercase;
}