
body {
  @include font($font-family--regular, $font-size--base);
  color: #333333;
}
h1 {

}
.container {
  padding: 20px;
  box-sizing: border-box;
}
@media (min-width: 1025px){
  .hidden-lg {
    display: none;
  }
  .container {
    max-width: 1400px;
  }
}
