@font-face {
  font-family: PortArthur;
  font-style: normal;
  font-weight: 400;
  src:  url('/fonts/port-arthur.woff') format('woff'),
  url('/fonts/port_arthur.ttf') format('tryetype');
}
@font-face {
  font-family: PFCentroBold;
  font-style: normal;
  font-weight: 800;
  src:  url('/fonts/pfcentroslabpro-bold.woff') format('woff');
}
@font-face {
  font-family: PFCentroMedium;
  font-style: normal;
  font-weight: 500;
  src:  url('/fonts/pfcentroslabpro-medium.woff') format('woff');
}
@font-face {
  font-family: RobotoThin;
  font-style: normal;
  font-weight: 100;
  src:  url('/fonts/Roboto-Thin.woff') format('woff'),
  url('/fonts/Roboto-Thin.ttf') format('tryetype');
}
@font-face {
  font-family: RobotoLight;
  font-style: normal;
  font-weight: 300;
  src:  url('/fonts/Roboto-Light.woff') format('woff'),
  url('/fonts/Roboto-Light.ttf') format('tryetype');
}
@font-face {
  font-family: RobotoRegular;
  font-style: normal;
  font-weight: 500;
  src:  url('/fonts/Roboto-Regular.woff') format('woff'),
  url('/fonts/Roboto-Regular.ttf') format('tryetype');
}
@font-face {
  font-family: RobotoMedium;
  font-style: normal;
  font-weight: 600;
  src:  url('/fonts/Roboto-Medium.woff') format('woff'),
  url('/fonts/Roboto-Medium.ttf') format('tryetype');
}
@font-face {
  font-family: RobotoBold;
  font-style: normal;
  font-weight: 800;
  src:  url('/fonts/Roboto-Bold.woff') format('woff'),
  url('/fonts/Roboto-Bold.ttf') format('tryetype');
}
